{% extends "base.html" %}
{% block content %}


<div class="container-liquid pembungkus2">
	<header></header>
	
	<div class="container ">
		<div class="jumbotron">
      <div class="container">
        <h1>Hello, {{author}}</h1>
	        <p>Fitur tambah teman adalah salah satu aplikasi LingIn yang dapat memperluas koneksimu. Yuk tambah teman sekarang juga !</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="{% url 'add_friend:index' %}#input-list">Next &raquo;</a></p>
      </div>
    </div>
	</div>

	<div class="container add-teman">
		<div class="col-md-4"></div>
		<div class="col-md-4 pembungkus1" id="input-list">
			
			<h2 class="judul1">Add Friend</h2>
			<span class="glyphicon glyphicon-envelope hidden-md hidden-xs hidden-sm" aria-hidden="true"></span>
			<form class="navbar-form" method="POST" action="{% url 'add_friend:tambah_teman' %}">
				 	{% csrf_token %}
					<p class="font1">Your Friend's name :</p> <input type="text" placeholder="Your Friend's name" class="form-control" name="name">
					<p class="font1">Link Heroku :</p> <input type="text" placeholder="Link Heroku" class="form-control" name="heroku_link"></td>
					<p><input id="submit" type="submit" class="btn btn-lg btn-block btn-info submit1" value="Submit"></p>			
			</form>
		</div>
		<div class="col-md-4"></div>
	</div>
	<div class="container">
			<div class="d-flex flex-row align-items-start flex-wrap"><p align="center">Your Friend list
				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></p>
				{% if new_friend %}
				{% for data in new_friend %}
				<div class="p-2 flex_list_nama">
					<h2>{{data.name}}</h2> 
					<!-- <span class="glyphicon glyphicon-user hidden-md hidden-xs hidden-sm" aria-hidden="true"></span> -->
					<h4 class="font1">Link Heroku :</h4>
					<a href={{data.heroku_link}}>{{data.heroku_link}}</a>
				<a href="{% url 'add_friend:delete' data.id %}" method="POST">
                <input class="to-do-list-delete-button btn btn-lg btn-block btn-danger submit1 " method="POST" data-id="{{data.id}}" action="{% url 'lab-5:delete' data.id %}" value="Delete"></input></a>
				</div>
				{% endfor%}
				{% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Tidak ada list teman!!
            </div>
            {% endif %}

			</div>

		</div>

	<footer></footer>
</div>

{% endblock %}