{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title>Add More Friends</title>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Anton|Arvo" rel="stylesheet">
</head>
<style>
	table{
		border: 0;
	}
	.font1{
		font-family: 'Arvo', serif;
	}
	.judul1{
		font-family: 'Anton', sans-serif;
		background-color: 
	}
	.submit1{
		margin-top: 10px;
	}
	.pembungkus1{
		background-color: #80C18E;
		border-radius: 10px;
	}
	.jumbotron{
		background-color: #50A162;
	}
	.background1{
		background-color: #6e6f72;
	}
</style>
<body>
<div class="container">
	<header></header>
	
	<div class="container ">
		<div class="jumbotron">
      <div class="container">
        <h1>Hello, {{author}}</h1>
	        <p>Fitur tambah teman adalah salah satu aplikasi LingIn yang dapat memperluas koneksimu. Yuk tambah teman sekarang juga !</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Next &raquo;</a></p>
      </div>
    </div>
	</div>

	<div class="container">
		<div class="col-md-4 pembungkus1 ">
			<h2 class="judul1">Add Friend</h2>
			<form class="navbar-form" method="POST" action="{% url 'add_friend:tambah_teman' %}">
				 
					<p class="font1">Your Friend's name :</p> <input type="text" placeholder="Your Friend's name" class="form-control">
					<p class="font1">Link Heroku :</p> <input type="text" placeholder="Link Heroku" class="form-control"></td>
					<p><input id="submit" type="submit" class="btn btn-lg btn-block btn-info submit1" value="Submit"></p>			
			</form>
		</div>
		<div class="col-md-8">
			<div class="d-flex flex-column">Your Friend list
				{% if new_friend %}
				{% for data in new_friend %}
				<div class="p-2">{{data.name}} : {{data.heroku_link}}</div>

				{% endfor%}
				{% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Tidak ada list teman!!
            </div>o.
            {% endif %}

			</div>

		</div>
	</div>
	<footer></footer>
</div>
<!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="application/javascript">
      $(function() {
          $('a[href*="#"]:not([href="#"])').click(function() {
            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
              if (target.length) {
                $('html, body').animate({
                  scrollTop: target.offset().top - 55
                }, 1000);
                return false;
              }
            }
          });
        });
    </script>
</body>
</html>
{% endblock %}