body{
  margin-top: 70px;
  font-family: Raleway;
  background: rgb(19, 37, 37);  /* fallback for old browsers */
background: rgb(0, 0, 0);  /* Chrome 10-25, Safari 5.1-6 */
background:rgb(0, 0, 0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* Custom navbar style */
.navbar-static-top {
  margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
    cursor: pointer;
}

.round-base{
  color : black;
  bottom :10;
  width : 80%;
  margin-left :10%;
  height: 90vh;
  background-color: white;
  border-radius: 25% 25% 25% 25%;

}
/* Textarea not resizeable */
textarea {
    resize:none;
}
/*section{
  min-height: 400px;
}*/
h2{
  color: rgb(253, 253, 253);
}

#input-list form{
  width: 50%;
  margin: 50px auto;
  position: relative;
  z-index: 1;
  background: #00ff00;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative;
}
#my-list .media:hover {
  background: #f6f8fa;
}
#my-list .media {
  background: white;
  border: 0 none;
  border-radius: 3px;
}
#input-list form > h2{
  font-size: 1.3em;
  color: #2C3E50;
  margin-bottom: 10px;
}
#input-list form > .status-form-input, #input-list form > .status-form-textarea{
  padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
}

#li {
  display: inline;
  padding: 5px;
  background: rgb(173, 230, 230);
  border-radius: 10px;
}
.img-circle{
        border-radius: 50%;
        border: 2px solid #9D9F93;
        margin:10px 150px 15px 475px;
}

.form-control{
  width: 50px;
  height: 150px;
  margin: auto;
}