<!DOCTYPE html>
<html lang="en">

  <title>LingIn</title>
  <link rel="icon" href="http://static1.squarespace.com/static/559c1968e4b0ee9660cb563f/t/55b28e4ce4b07dd5b8929b7d/1437765197224/faviconL-553d9019v1_site_icon.png?format=1000w" type="image/gif" sizes="10x10">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family: "Open Sans"}
</style>
<body class="w3-light-grey">

<!-- Navigation bar with social media icons -->
<div class="w3-bar w3-black w3-hide-small">

        <a href="/update-status/" < class="w3-bar-item w3-button"> <i class = "fa fa-wpforms"></a></i>
        <a href="/halaman_profile/" < class="w3-bar-item w3-button"> <i class = "fa fa-user-circle-o"></a></i>
        <a href="/add_friend/" < class="w3-bar-item w3-button"> <i class = "fa fa-users"></a></i>
        <a href="/dashboard/" < class="w3-bar-item w3-button"> <i class = "fa fa-bar-chart"></a></i>
</div>

  <content>
    {% block content %}
    {% endblock %}
  </content>
<div class="container">
 
</div>

</body>
</html>
