{% extends "base.html" %}

{% block content %}
  <!-- Header -->
  <header class="w3-container w3-center w3-padding-48 w3-white">
    <h1 class="w3-xxxlarge"><b>GROUP 3's PAGE</b></h1>
    <h6>Welcome to the blog of <span class="w3-tag">Group 3</span></h6>
  </header>


    </div>
  </header>


<section name="input-list" id="input-list">
    <div class="container">
<!--         <div class="row"> -->
            <div class="col-sm-500 col-sm-offset-0" id = "warnainput">
                <form id="form" method="POST" action="{% url 'update-status:add_status' %}">
                    <h2><strong>Input Status..</strong></h2>
                    {% csrf_token %}
                    {{ Status_form }}
                    <input id="submit" type="submit" class="btn btn-md btn-info" value="Submit">
                    <br>
                </form>
            </div>
        </div> 
    </div>
</section>

<section name="my-list" id="my-list" style="padding-bottom: 20px">
    {% if status %}
    <div class="container"> 
        {% for data in status %}
            <div class="kotak" style="padding-top: 15px">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="media" style="padding: 40px">
                            <div class="media-left">
                                <img src="https://pbs.twimg.com/profile_images/891324707189923841/-AAI8S4z_400x400.jpg" class="media-object img-circle" style="width:60px"><!--foto nanti diganti dgn foto di hal profile-->
                    
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><strong>{{profile_name}}</strong> <small><i>Posted on {{data.created_date}}</i></small></h4><!--nama nanti diganti dgn nama di hal profile-->
                                <p>{{data.status}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-danger text-center">
            <strong>Oops!</strong> Belum ada status.
        </div>
    {% endif %}
    
</section>

{% endblock %}        
