{% extends "update_status/layout/base.html" %}

{% block content %}
<h1 class="main-title">Update Status</h1>
<hr/>
<section name="input-list" id="input-list">
    <div class="container">
        <form id="form" method="POST" action="{% url 'update-status:add_status' %}">
            <h2>Input Status</h2>
            {% csrf_token %}
            {{ Status_form }}
            <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
            <br>
        </form>
    </div>
</section>
<section name="my-list" id="my-list">
    <div class="container">
        <h2 class="my-list-title">My Status</h2>
                {% for data in status %}
                <div class="kotak" style="padding:10px;box-shadow: 0 1px 1px 1px rgba(0,0,1,0.45); background: white">

                <p>{{data.status}}</p>
                <p>{{data.created_date}}</p>
                </div>
                {% endfor %}
    </div>
</section>

{% endblock %}        
